
    <section class="footer bg-dark d-flex align-items-center px-3">
        <div class="container py-5 text-white">
            <a href="" class="d-inline-flex align-items-center mb-4 text-decoration-none">
                <img src="{{ info:footer_logo }}" class="me-3" style="width:90px" alt=""> <span
                    class="text-white h5 mb-0 link-primary">PT. Air Mas Perkasa</span></a>
            <div class="row align-items-start justify-content-start">
                <div class="col-lg-4 mb-3">


                    <ul class="list-unstyled">
                        <li class="mb-3">
                            {{ info:address }}
                        </li>
                        <li class="mb-2"><a href="tel:{{ info:phone_number }}"
                                class="text-white text-decoration-none link-primary">
                                <i class="far fa-phone-alt"></i>
                                {{ info:phone_number }} </a></li>
                        <li class="mb-2"><a href="mailto:{{ info:contact_email }}"
                                class="text-white text-decoration-none link-primary">
                                <i class="far fa-envelope"></i>
                                {{ info:contact_email }} </a></li>
                    </ul>
                </div>
                {{ nav:footer }}
                <div class="col-6 col-lg-2 mb-3 d-none d-md-block">
                    <ul class="list-unstyled">
                        {{ children }}
                            <li class="mb-2"><a href="{{ url }}"
                                class="link-primary text-white text-decoration-none">{{ title }}</a></li>
                        {{ /children }}
                    </ul>
                </div>
                {{ /nav:footer }}
                <div class="col-xs-12 col-lg-2 mb-3">
                    <h6>Follow Kami</h6>
                    <ul class="d-flex flex-row ms-n3 nav sosmed">
                        {{ if social_media:linkedin_link }}
                        <li class="nav-item">
                            <a class="nav-link linkedin" href="{{ social_media:linkedin_link }}"
                                target="_blank">
                                <i class="fab fa-lg fa-linkedin-in" aria-hidden="true"></i>
                            </a>
                        </li>
                        {{ endif }}

                        {{ if social_media:youtube_link }}
                        <li class="nav-item">
                            <a class="nav-link youtube" href="{{ social_media:youtube_link }}" target="_blank">
                                <i class="fab fa-lg fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                        {{ endif }}
                        
                        {{ if social_media:instagram_link }}
                        <li class="nav-item">
                            <a class="nav-link instagram" href="{{ social_media:instagram_link }}"
                                target="_blank">
                                <i class="fab fa-lg fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        {{ endif }}

                        {{ if social_media:facebook_link }}
                        <li class="nav-item">
                            <a class="nav-link facebook" href="{{ social_media:facebook_link }}" target="_blank">
                                <i class="fab fa-lg fa-facebook-f" aria-hidden="true"></i>
                            </a>
                        </li>
                        {{ endif }}

                        {{ if social_media:twitter_link }}
                        <li class="nav-item">
                            <a class="nav-link twitter" href="{{ social_media:twitter_link }}" target="_blank">
                                <i class="fab fa-lg fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        {{ endif }}
                    </ul>
                </div>
            </div>
        </div>

    </section>