<div class="sidenav">
    <div class="nav">
        <div class="menu col-12 my-3">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{ nav:sidenav }}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url }}">
                        {{ title }}
                    </a>
                </li>
                {{ /nav:sidenav }}
            <ul class="d-flex flex-row ms-n3 nav sosmed">
                <li class="nav-item">
                    <a class="nav-link linkedin" href="https://id.linkedin.com/company/airmas-perkasa" target="_blank">
                        <i class="fab fa-lg fa-linkedin-in" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link youtube" href="https://www.youtube.com/user/bazoparte" target="_blank">
                        <i class="fab fa-lg fa-youtube" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link instagram" href="https://www.instagram.com/airmasgroupindonesia/?hl=en" target="_blank">
                        <i class="fab fa-lg fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link facebook" href="https://www.facebook.com/airmasid" target="_blank">
                        <i class="fab fa-lg fa-facebook-f" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link twitter" href="" target="_blank">
                        <i class="fab fa-lg fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>