<section class="container">
    <div class="row">
    <div class="col-12">
        <div class="">
            {{ partial:main_nav }}
            {{ partial:sidenav }}
            <div class="overlay"></div>
        </div>
        <!-- End Navbar -->
    </div>
    <div class="products clearfix">
        <div class="container d-flex align-items-center">
            <div class="row row-cols-1 px-lg-5">
                <h1 class="display-5 font-smbold lh-1 my-5 text-center">{{ product_sub_title }}</h1>
                {{ items }}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card rounded-3 p-2 border-0 cards-products shadow-sm h-100 move-on-hover">                                    <a href="" class="link-primary text-decoration-none text-dark">
                        <div class="icon icon-shape mx-auto">
                            <img src="{{ productimage }}" class="img-fluid" alt="">
                        </div>
                        <div class="card-body text-center">
                            {{ productcard_title }}
                        </div>
                        </a>
                    </div>
                </div>
                {{ /items }}
            </div>
        </div>
    </div>
</div>
</section>

{{ partial:footer }}
